@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: "Fira Sans Condensed", sans-serif;
}

.text-primary{
  color: blue;
  font-weight: bold;
  text-transform: capitalize;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: url('./images/mask.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-bottom: 1px solid gainsboro;
  position: sticky;
  top: 0;
  z-index: 1000;
  transition: background-color 0.3s, box-shadow 0.3s;

}

header.scrolled {
  background: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.menu {
  display: flex;
  gap: 15px;
  position: relative;
}

.menu.show {
  flex-direction: column;
  position: absolute;
  top: 70px;
  /* Adjust this value based on your design */
  left: 0;
  background-color: white;
  width: 100%;
  padding-left: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.customLink {
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 19px;
}

.loginBtn {
  background: blue;
  color: white;
  border: none;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
}

.mobile-menu {
  display: none;
}


.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom: 50px;
  padding-top: 50px;
  background-image: url('./images/hero-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 100;
}

.hero .leftSection {
  width: 45%;
  display: flex;
  flex-direction: column;
}

.leftSection .headline {
  font-size: 30px;
  padding: 0;
  margin: 0;

}

.description {
  font-size: 19px;
  letter-spacing: 0.7px;
  margin-top: -25px;
  line-height: 30px;
}

.score {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.scoreCount {
  font-size: 40px;
  font-weight: bold;
  border-bottom: 5px solid red;
  text-align: center;

}

.scoreTag {
  margin-top: -19px;
}

.hero .rightSection {
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.hero .rightSection .rpimg {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero .rightSection .rpimg img {
  width: 600px;
}

.hero .rightSection .lpimg {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;

}

.hero .rightSection .lpimg img {
  width: 200px;
}

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 150px;
  padding-right: 150px;
  gap: 30px;
  margin-top: 90px;
}

.serviceTitle h2 {
  font-size: 40px;
  font-weight: 500;
}

.serviceSection {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}



.serviceFeature {
  text-align: center;
}

.serviceFeature .description {
  margin-top: 10px;
}

.icon {
  font-size: 30px;
  cursor: pointer;
}

.icon:hover {
  color: blue;

}

.about {
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 50px;
  margin-top: 100px;
  background: whitesmoke;
}

.aboutProfile {
  position: relative;
  width: 40%;
}

.aboutProfile img {
  border-radius: 50%;
}

.aboutDesc {
  width: 40%;
}

.about .sticker {
  border: 1px solid gainsboro;
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 250px;
  position: absolute;
  background: white;
  right: -100px;
  bottom: 70px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  border-radius: 10px;

}

.about .sticker .circle {
  display: flex;
  gap: 5px;
}

.about .red {
  width: 10px;
  height: 10px;
  background: red;
  border-radius: 50px;
}

.about .yellow {
  width: 10px;
  height: 10px;
  background: yellow;
  border-radius: 50px;
}

.about .green {
  width: 10px;
  height: 10px;
  background: green;
  border-radius: 50px;
}

.about .profile-bio p {
  margin-top: -15px;

}


.aboutDesc h3 {
  font-size: 36px;
  font-weight: 600;
}

.aboutDesc p {
  font-size: 19px;
  line-height: 30px;

}

.medicalServices {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  padding-left: 150px;
  padding-right: 150px;
}

.medicalInfo {
  text-align: center;
}

.medicalInfo h3 {
  font-size: 36px;
}

.medicalInfo p {
  line-height: 30px;
  font-size: 19px;
}

.medicalDesc h3 {
  text-align: center;
  font-weight: 500;
  font-size: 33px;
}

.medicalDesc p {
  text-align: center;
  line-height: 30px;

}

.mdserviceLoop {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 50px;
  align-items: center;
  justify-content: space-between;
  
}

.mdserviceLoop .about-card{
  background: #CAEBFF;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 20px;
  cursor: pointer;
}

.mediLast {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 30px;
  margin-right: 30px;
  
}

.number {
  background: lightsteelblue;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.virtualTreatMent {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-left: 150px;
  padding-right: 150px;
  background-color: whitesmoke;
  padding-top: 100px;
  padding-bottom: 100px;
}

.virtualTreatMent .leftPart {
  width: 40%;
}

.virtualTreatMent .rightPart {
  width: 40%;
  position: relative;
}

.virtualTreatMent h3 {
  font-size: 33px;
  font-weight: 500;
}

.virtualTreatMent .list {
  line-height: 30px;
  font-size: 19px;
}

.virtualTreatMent .rightPart {
  display: flex;
  align-items: center;
  justify-content: center;

}

.virtualTreatMent .rightPart .feature {
  border-radius: 50%;

}

.virtualTreatMent .rightPart .sticker {
  width: 250px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: -20%;
  background: white;

}

.sticker .round1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sticker .round1 .alert {
  background: lightcoral;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
}

.sticker .round2 .way {
  background: purple;
  padding: 10px;
  border-radius: 10px;
  color: white;
}

.sticker .round3 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

.doctorList-container {
  position: relative;
}

.doctorList-container .spinners {
  position: absolute;
  left: 50%;
  top: 80%;
  transform: translate(-50%, -50%);
  opacity: 1 !important;
}

.doctorList {
  margin-top: 20px;
  padding-left: 150px;
  padding-right: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


}

.doctorList .title {
  text-align: center;
}

.doctorList .title h3 {
  font-size: 33px;
  font-weight: 500;
}

.doctorList .title p {
  font-size: 19px;
  line-height: 30px;
  margin-top: -15px;
}

.doctorList .cardGrid {
  /*display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 90%;*/

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;

 
 
}



.doctorList .dname {
  font-size: 20px;
  margin-top: 5px;
}

.doctorList .score .starIcon {
  color: #ffcc00;
  margin-right: 10px;
  font-size: 20px;
}

.doctorList .mid-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;

}

.doctorList .last-info {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.doctorList .designation {
  background: red;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  color: white;
}


/* FAQ.css (Standard CSS styles) */

/* FAQ.css (Standard CSS styles) */

.faq {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 100px;
  padding-bottom: 100px;
  gap: 40px;
  margin-top: 50px;
  min-height: 600px;
  background: whitesmoke;
}

.faq .left-part {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.faq .left-part img {
  height: 500px;

}

.faq .right-part {
  width: 50%;
}

.faq-container {
  max-width: 600px;
  margin: 0 auto;
}

.faq-container h2 {
  font-weight: 500;
  font-size: 36px;
}

.faq-item {
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  transition: border-color 0.3s;
}

.faq-item .icon {
  color: white !important;
}

.faq-item:hover {}

.question {
  padding: 15px;
  cursor: pointer;
  background-color: #007bff;
  font-weight: 400;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-size: 16px;
  letter-spacing: 0.6px;

}

.answer {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: white;
}

.open .question {}


/* TestimonialCarousel.css (Basic styles) */

.testmonial {
  padding-left: 150px;
  padding-right: 150px;
  margin-top: 100px;
}

.testmonial .tmdes {
  text-align: center;
}

.testmonial .tmdes h3 {
  font-size: 33px;
  font-weight: 500;
}

.testmonial .tmdes p {
  line-height: 30px;
  font-size: 19px;
}



.testimonial-item {
  padding-top: 25px;
  padding-bottom: 25px;

}

.testimonial-item .first {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 12px;
}

.testimonial-item .second {
  text-align: center;


}

.testimonial-item .first .ninfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px;

}

.testimonial-item .first .img img {
  width: 80px;
  height: 80px;
  border-radius: 15px;
}

.icon-test {
  color: #ffcc00;
}


/* TestimonialCarousel.css */

.testimonial-item {
  /* Add your existing styles for testimonial items */

  /* Additional styles for the selected item */
  transition: background-color 0.3s, color 0.3s;
}

.testimonial-item.selected {
  background-color: #007bff;
  /* Change this to the desired background color */
  color: #fff;
  /* Change this to the desired text color */
  border-radius: 10px;
}

.footer {
  padding-left: 150px;
  padding-right: 150px;

  border-top: 1px solid gainsboro;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 30px;
  padding-top: 50px;
  padding-bottom: 50px;


}

.footer .section-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}

.footer .section-1 .fsocial {
  display: flex;
  gap: 10px;
  font-size: 35px;
  cursor: pointer;
}

.footer .section-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}

.footer .section-3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}

.footer .section-4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}

.fdoctor {
 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.fdoctor .fdoctor-search {
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.fdoctor .fdoctor-search h1 {
  margin: 0;
}

.fdoctor .searchbar {
  background: gainsboro;
  border-radius: 10px;
}

.fdoctor .searchbar input {
  border: none;
  width: 30vw;
  font-size: 16px;
  padding: 20px;
  background: none;
  outline: none;
}

.fdoctor .searchBtn {
  background: blue;
  color: white;
  border: none;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  cursor: pointer;
  font-weight: 600;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.fdoctor-list {}


.doctor-info {
  padding-left: 150px;
  padding-right: 150px;
  margin-top: 40px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 30px;
}

.doctor-info .left-side {
  width: 60vw;
}

.doctor-info .left-side .doctor-card {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
}

.doctor-card .d-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.doctor-card .designation {
  background: red;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  border-radius: 5px;
  width: 6vw;
  text-align: center;
}

.doctor-card .dname {
  font-size: 25px;
  font-weight: 500;
}

.doctor-card .icon {
  color: #ffcc00;
  font-size: 20px;
}

.d-details .rating {
  display: flex;
  gap: 10px;
}

.d-details .description {
  width: 30vw;
}

.doctor-info .left-side .nav-tab {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
  margin-top: 40px;
  cursor: pointer;
  border-bottom: 1px solid gainsboro;
}

.doctor-info .left-side .nav-tab .tab.active {
  color: blue;
}

.doctor-info .tab-content {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.tab-content .qualification {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-wrap: wrap;
  align-items: flex-start;
}

.tab-content .qualification .row {
  display: flex;
  gap: 20px;
}

.tab-content .education {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: 500;
  border: 1px solid gainsboro;
  border-radius: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
}

.feedback-part {}

.feedback-part .row {

  display: flex;
  align-items: center;
}

.feedback-part .row .left-part {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

.feedback-part .row .left-part .info {
  display: flex;
  flex-direction: column;
  gap: 5px
}

.feedback-part .row .right-part {
  width: 50%;
  display: flex;
  align-items: cenetr;
  justify-content: flex-end;
  color: blue;
  gap: 5px;
}

.feedback-part .left-part img {
  width: 80px;
  border-radius: 50px;
  border: 3px solid blue;
}

.feedback-btn {
  background-color: blue;
  color: white;
  border: none;
  padding: 15px;
  font-weight: bold;
  font-size: 15px;
  border-radius: 50px;
  cursor: pointer;
}



.doctor-info .right-part {
  width: 38vw;

}

.doctor-info .right-side .ticket-card {
  border: 1px solid gainsboro;
  width: 20vw;
  padding: 25px;
  position: fixed;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-left: 35px;


}

.doctor-info .ticket-card .first {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.doctor-info .ticket-card .first .ticket {
  font-size: 20px;

}

.doctor-info .ticket-card .first .tprice {
  font-weight: bold;
  font-size: 25px;

}

.doctor-info .ticket-card .second {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.doctor-info .ticket-card .second .appoint {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.doctor-info .ticket-card .second .appoint .day {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;

}

.doctor-info .ticket-card .second .appoint .time {

  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;

}

.doctor-info .ticket-card .second .tslot {
  font-size: 22px;

}

.login-container {
  position: relative;
}

.login-container .spinners {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 1 !important;


}

.login {
  padding-left: 150px;
  padding-right: 150px;
  display: flex;
  margin-top: 80px;
  margin-bottom: 80px;
}

.login .card {
  border: 1px solid gainsboro;
  width: 40vw;
  margin: auto;
  border-radius: 10px;

}

.login .card-header {
  font-size: 25px;
  text-align: center;
}

.login .card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.login .card-body .row {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login .form-control {
  border: 1px solid gainsboro;
  width: 30vw;
  height: 45px;
  gap: 10px;
  padding-left: 12px;
  outline: none;
  border-radius: 5px;
}

.login .form-control:focus {
  border: 1px solid gray;

}

.login .submit-btn {
  background: #007bff;
  border: none;
  padding: 15px;
  border-radius: 50px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-size: 15px;
}

.register-container {

  position: relative;

}

.register-container .spinners {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 1 !important;


}



.register {
  padding-left: 150px;
  padding-right: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  height: 100vh;

}



.register .banner img {
  width: 500px;
}

.register .card {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.register .card-body .form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.register .card-body .form input:focus {
  border-bottom: 1px solid blue;
}

.register .card-body .form .col {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.register .card-body .form .col img {
  border-radius: 50px;
  width: 80px;
  border: 5px solid blue;

}

.register .form input {
  border: none;
  outline: none;
}

.register .form .form-control {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid gainsboro;
  border-radius: none !important;

}

.register .form .form-select {
  height: 40px;
  width: 100%;
  border: 1px solid gainsboro;
  outline: none;
  padding-left: 3px;
  margin-top: 10px;
}


.register .form .sign-up {
  border: none;
  border-radius: 50px;
  background: #007bff;
  color: white;
  font-weight: bold;
  font-size: 16px;
  padding: 16px;
  cursor: pointer;
}

.contact {
  padding-left: 150px;
  padding-right: 150px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.contact .card {}

.contact .card .card-header {
  margin-bottom: 15px;

}

.contact .card .card-body .form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact .card .card-body .form-group {
  display: flex;
  flex-direction: column;
  gap: 15px;

}

.contact .card .card-body .form-control {
  border: 1px solid gainsboro;
  border-radius: 10px;
  height: 45px;
  padding-left: 15px;
  outline: none;
}

.contact .card .card-body .form input:focus {

  border: 1px solid blue;

}

.contact .card .card-body .form textarea:focus {

  border: 1px solid blue;

}

.contact .contact-us {
  background: red;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 17px;
  padding: 15px;
  border-radius: 15px;
  cursor: pointer;
}


.custom-toast-popup {
  /* Container styles */
  background-color: purple !important;
  color: white !important;
  /* Change the background color */
}

.profile-container {
  position: relative;
}

.profile-container .spinners {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 1 !important;
}


.profile {
  padding-left: 150px;
  padding-right: 150px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 40px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.profile .left-part .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border: 1px solid gainsboro;
  width: 25vw;
  border-radius: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.profile .left-part .profile-image img {
  width: 120px;
  height: 120px;
  border-radius: 60px;
}

.profile .left-part .profile-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.profile .left-part .card .card-footer {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 20px;
}

.profile .left-part .card .card-footer .logout {
  width: 20vw;
  border: none;
  background: black;
  color: white;
  height: 45px;
  font-size: 15px;
  border-radius: 10px;
  cursor: pointer;
}

.profile .left-part .card .card-footer .delete {
  width: 20vw;
  border: none;
  background: red;
  color: white;
  height: 45px;
  font-size: 15px;
  border-radius: 10px;
  cursor: pointer;
}

.profile .right-part {}

.profile .right-part .card {
  display: flex;
  flex-direction: column;
  gap: 30px;

}

.profile .card .card-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

.profile .card .card-header .booking {
  height: 45px;
  width: 17vw;
  border: none;
  background: lightcyan;
  color: black;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
}

.profile .card .card-header .profile-setting {
  height: 45px;
  width: 17vw;
  border: none;
  background: lightcyan;
  color: black;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
}

.profile .right-part .card-body .form {
  display: flex;
  flex-direction: column;
  gap: 15px;

}

.profile .right-part .card-body .form .form-group {}

.profile .right-part .card-body .form .form-group .form-control {
  width: 80%;
  border: none;
  border-bottom: 1px solid gainsboro;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 40px;
  outline: none;

}

.profile .right-part .card-body .form .form-group input:focus {
  border-bottom: 2px solid blue;
}

.profile .right-part .card-body .form .form-select {
  height: 40px;
  border: none;
  width: 30%;
  border-bottom: 1px solid gainsboro;
  outline: none;
  padding-left: 3px;
  margin-top: 10px;

}

.profile .submit-btn {
  border: none;
  background: #007bff;
  height: 40px;
  border-radius: 20px;
  color: white;
  font-weight: 500;
  font-size: 15px;
  cursor: pointer;
}

.doctor-profile-container {
  position: relative;
}

.doctor-profile-container .spinners {
  position: absolute;
  left: 50%;
  top: 80%;
  transform: translate(-50%, -50%);
  opacity: 1 !important;
}

.doctor-profile {
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 30px;
}

.doctor-profile .left-part {
  border: 1px solid gainsboro;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 30%;
  padding: 30px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

}

@media only screen and (min-width: 1001px) {
  .doctor-profile .left-part {
    position: sticky;
    top: 20%;
  }

}

.doctor-profile .left-part .list ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
}

.doctor-profile .left-part .list li {

  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  border: 1px solid gainsboro;
}

.doctor-profile .left-part .list li.active {
  color: white;
  background: blue;

}

.doctor-profile .left-part .account-btn {
  display: flex;
  flex-direction: column;
  gap: 20px;

}

.doctor-profile .left-part .account-btn .logout {
  border: none;
  height: 50px;
  border-radius: 10px;
  background: black;
  color: white;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;

}

.doctor-profile .left-part .account-btn .delete {
  border: none;
  height: 50px;
  border-radius: 10px;
  background: red;
  color: white;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;

}

.doctor-profile .right-part {
  width: 70%;
}

.doctor-profile .right-part .dprofile {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;

}

.doctor-profile .right-part .dprofile .info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;

}

.doctor-profile .right-part .dprofile .info .designation {
  background: lightcoral;
  width: 10vw;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  color: white;

}

.doctor-profile .right-part .dabout {
  line-height: 30px;
  font-size: 20px;
  color: gray;
}

.doctor-profile .right-part .education .edetails {
  display: flex;
  flex-direction: column;
  gap: 20px;

}

.doctor-profile .right-part .education .edetails .info {
  display: flex;
  flex-direction: column;
  color: black;
  font-size: 20px;
  line-height: 30px;
}

.profile-doctor {

  width: 70%;

}

.profile-doctor .form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;

}

.profile-doctor .form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  width: 70%;
}

.profile-doctor .form-control {
  border: 1px solid gainsboro;
  width: 100%;
  height: 45px;
  padding-left: 15px;
  outline: none;
  font-size: 15px;
  border-radius: 10px;
}

.profile-doctor .form-group input:focus {
  border: 1px solid gray;
}

.profile-doctor .form .col {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 70%;
  gap: 20px;
}

.profile-doctor .form input[type='file'] {
  border: none;
}

.profile-doctor .form .col .form-select {
  border: 1px solid gainsboro;
  outline: none;
  height: 45px;
  padding-left: 12px;
  border-radius: 10px;
  width: 100%;
}

.custom-datepicker-wrapper {
  border: none;
  /* Remove default border */
  width: 95%;

}

.custom-datepicker-input {
  border: 1px solid gainsboro;
  outline: none;
  height: 45px;
  padding-left: 12px;
  border-radius: 10px;
  width: 100%;
}

.qualification-btn {
  border: none;
  background: blueviolet;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  height: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

}

.remove-qualification-btn {
  border: none;
  background: red;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  height: 30px;
  cursor: pointer;

}

.profile-doctor .form .submit-btn {
  background: #007bff;
  width: 70%;
  border: none;
  height: 50px;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.doctor-profile .appointment {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 70%;
  
}

.doctor-profile .appointment .table {

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  width: 100%;
  

}

.doctor-profile .appointment .table thead {
  background: #007bff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;


}

.doctor-profile .appointment .table thead th {
  padding-left: 25px;
  padding-right: 25px;
  font-weight: 600;

}

.doctor-profile .appointment .table tbody {

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;

}

.doctor-profile .appointment .table tbody tr {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  border-bottom: 1px solid gainsboro;
  width:100%;



}

.doctor-profile .appointment .table tbody tr:hover {
  background: #ccc;
}

.doctor-profile .appointment .table tbody tr td {
  padding-left: 25px;
  padding-right: 25px;
}

/*---------*/




@media only screen and (max-width: 1000px) {

  body {
    width: 100vw !important;
    margin: auto;
    overflow: auto;
  }

  body p {
    font-size: 14px !important;

  }

  body h2 {
    font-size: 22px !important;
    font-weight: 500 !important;
    text-align: center;

  }

  body h3 {
    font-size: 22px !important;
    font-weight: 500 !important;
    text-align: center;


  }

  header {
    padding-left: 10px;
    padding-right: 10px;
  }

  .menu.hide {
    display: none;
  }

  .mobile-menu {
    display: block;
  }

  .customLink {

    font-size: 15px;
  }

  .loginBtn {
     width: 120px;
     height: 30px;
     padding: 0;
  }

  

  .hero {
    padding: 0px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    width: 100%;

  }

  .hero .leftSection {

    width: 90vw;
    margin: 0;
    



  }

  .hero .leftSection .description {
    margin-left: 10px;
    margin-right: 10px;
  }

  .hero .leftSection h2 {
    font-size: 25px;
    text-align: center;
    font-weight: 500;
  }

  .hero .request-btn {
    text-align: center;
  }

  .hero .score {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
  }

  .hero .score .scoreTag {
    text-align: center;
    margin-top: 1px;
  }

  .hero .rightSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90vw;
    margin-top: 30px;


  }

  .hero .rightSection .lpimg {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }

  .hero .rightSection .rpimg img {
    width: 90%;

  }

  .hero .rightSection .lpimg img {
    width: 20vw;
  }

  .services {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 0px;
  }

  .services .serviceTitle h2 {
    font-size: 25px;

  }

  .services .serviceSection {
    display: flex;
    flex-direction: column;
  }


  .about {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .about .aboutProfile {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .about .aboutProfile img {
    width: 300px;
    height: 300px;
  }

  .about .aboutDesc {
    width: 100%;
  }

  .about .aboutDesc h3 {
    font-weight: 500;
    text-align: center;
    font-size: 25px;

  }

  .learnMore {
    text-align: center;
  }

  .medicalServices {
    margin-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .medicalServices .medicalInfo h3 {
    text-align: center;
    font-weight: 500;
    font-size: 25px;

  }

  .medicalServices .medicalInfo p {
    margin-top: -10px;
  }

  .mdserviceLoop {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px
  }  

  .mdserviceLoop .about-card{
    background: #CAEBFF;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80vw;
    padding: 10px;
    
    
  }

  .mdserviceLoop .medicalDesc h3 {
    font-size: 25px;
  }

  .virtualTreatMent {
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
    
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 50px;
  }

  .virtualTreatMent .leftPart {
    width: 100%;
  }

  .virtualTreatMent .leftPart h3 {
    text-align: center;
    font-size: 25px;
    font-weight: 500;
  }

  .virtualTreatMent .rightPart {
    width: 100%;
  }

  .virtualTreatMent .rightPart .feature {
    width: 300px;
    height: 300px;
  }

  .virtualTreatMent .rightPart .sticker img {
    width: 30px;
  }

  .virtualTreatMent .rightPart .sticker {
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 1px;
  }

  .sticker .round2 .way {
    padding: 3px;
    border-radius: 5px;
  }

  .doctorList {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
  }

  .doctorList .cardGrid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .faq {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }

  .faq .left-part {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .faq .left-part img {
    width: 70%;
    height: 70%;

  }

  .testimonial-item.selected {
    background-color: white !important;
  }

  .faq .right-part {
    width: 100%;
  }

  .testmonial {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
   
    width: 90vw;
  } 

  

  .testimonial-item .first {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    margin-top: 12px;
  }

  .testimonial-item .second p {
    text-align: center !important;
    font-size: 12px;
  }

  .footer {
    padding-left: 10px;
    padding-right: 10px;
    border-top: 1px solid gainsboro;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0px;


  }

  .fdoctor .fdoctor-search {
    padding-left: 10px;
    padding-right: 10px;
  }

  .fdoctor .searchbar input {
    width: 70vw;
    padding: 10px;
    font-size: 12px;

  }

  .fdoctor .searchBtn {
    padding: 12px;
  }

  .doctor-info {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;

  }

  .doctor-info .left-side {
    width: 100%;
  }

  .doctor-info .left-side .doctor-card {
    display: flex;
    flex-direction: column;
  }

  .doctor-info .left-side .doctor-card .d-details {

    width: 100%;
    align-items: center;
  }

  .doctor-info .left-side .doctor-card .d-details .designation {
    width: 30vw;
  }

  .doctor-info .left-side .doctor-card .d-details .description {
    width: 100%;
  }

  .doctor-info .left-side .nav-tab {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
  }

  .doctor-info .left-side .tab-content .qualification {
    align-items: center;
  }

  .doctor-info .left-side .tab-content .qualification .row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
  }

  .doctor-info .left-side .tab-content .qualification .row .education {
    text-align: center;
  }

  .doctor-info .left-side .feedback-part .row {
    display: flex;
    flex-direction: column;
  }

  .doctor-info .left-side .feedback-part .row .left-part {
    flex-direction: column;
    width: 100%;

  }

  .doctor-info .left-side .feedback-part .row .left-part .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }

  .user-feedback textarea {
    border: 1px solid black;
    padding: 0px !important;
  }

  .user-feedback textarea::placeholder {
    padding: 20px;
    font-family: josefin-sans;
  }



  .doctor-info .left-side .feedback-part .row .right-part {

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
  }



  .doctor-info .right-side .ticket-card {

    position: relative;
    width: 80vw;
    margin: 0px;


  }

  .doctor-info .right-side .ticket-card .tslot {
    font-size: 17px;
  }

  .doctor-info .right-side .ticket-card .feedback-btn {
    padding: 10px;
  }

  .login {
    padding-left: 10px;
    padding-right: 10px;
    min-height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .login .card {
    width: 100%;
    border-radius: 5px;
  }

  .login .form-control {
    width: 80vw !important;
    height: 35px;
    font-size: 12px;

  }

  .login .row .submit-btn {
    padding: 10px;
    font-size: 13px;
  }

  .register {
    padding-left: 10px;
    padding-right: 10px;
    height: auto;
    display: flex;
    flex-direction: column;
    width: 90vw;

  }



  .register .banner {
    display: none;
  }

  .register .banner img {
    width: 10px;

  }

  .register .card-body {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .register .card-body .form .form-control {}

  .register .card-body .form .form-select {}

  .register .card-body .form .col {}

  .register .card-footer {
    margin-bottom: 20px;
  }

  .contact {
    padding-left: 10px;
    padding-right: 10px;
  }

  .contact .contact-us {
    padding: 12px;
    font-size: 15px;
    font-weight: 500;
  }

  .profile {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;

  }

  .profile .left-part .profile-image img {
    width: 80px;
    height: 80px;
    border-radius: 40px;
  }

  .profile .left-part {
    width: 40%;

  }

  .profile .right-part {
    width: 60%;
  }

  .profile .left-part .card {
    width: 100%;
  }

  .profile .left-part .card .card-footer .logout {
    width: 30vw;
    height: 30px;
    font-size: 12px;
  }

  .profile .left-part .card .card-footer .delete {
    width: 30vw;
    height: 30px;
    font-size: 12px;
  }

  .profile .card .card-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
  }

  .profile .card .card-header .booking {
    height: 30px;
    width: 30vw;
    font-size: 12px;
  }

  .profile .card .card-header .profile-setting {
    height: 30px;
    width: 30vw;
    font-size: 12px;
  }

  .doctor-profile {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


  }

  .doctor-profile .left-part {
    width: 90%;
    padding: 10px;
    border: none;
    box-shadow: none;
    display: flex;
    flex-direction: row;

    gap: 10px;
    position: relative !important;
    flex-wrap: wrap;


  }



  .doctor-profile .left-part .list ul {
    display: flex;
    flex-direction: row;
    gap: 10px;

  }

  .doctor-profile .left-part .list ul li {
    font-size: 13px;
    width: 100px;
    height: 40px;


  }

  .doctor-profile .left-part .list ul li.active {
    padding-left: 10px;
    padding-right: 10px;
  }

  .doctor-profile .left-part .account-btn {
    display: flex;
    flex-direction: row;


  }

  .doctor-profile .left-part .account-btn .logout {
    padding: 0;
    width: 100px;
    height: 40px !important;
  }

  .doctor-profile .left-part .account-btn .delete {
    padding: 0;
    width: 100px;
    height: 40px !important;
  }


  .doctor-profile .right-part {
    width: 100%;
  }

  .doctor-profile .right-part .dprofile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;

  }

  .doctor-profile .right-part .dprofile .image img {
    width: 120px;
    height: 120px;
    border-radius: 60px;

  }

  .doctor-profile .right-part .dprofile .info {
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .doctor-profile .right-part .dprofile .info .designation {
    width: 40vw;
  }

  .doctor-profile .left-part .list li {
    height: 30px;
    border-radius: 5px;
    font-weight: 400;
  }

  .doctor-profile .left-part .account-btn .logout {
    height: 30px;
    font-size: 12px;


  }

  .doctor-profile .left-part .account-btn .delete {

    height: 30px;
    font-size: 12px;


  }

  .doctor-profile .overview-stas {

    display: flex;
    flex-direction: column !important;
  }

  .doctor-profile .right-part .education h2 {
    text-align: left !important;
  }

  .doctor-profile .right-part .education .edetails .info {
    font-size: 15px;
  }

  .profile-doctor {

    width: 100%;

  }

  .profile-doctor .form-group {
    width: 90%;
  }

  .profile-doctor .form .col {
    width: 90%;
    gap: 10px;
  }

  .profile-doctor .form .submit-btn {
    width: 100%;
    height: 40px;
    font-size: 14px;

  }

  .doctor-profile .appointment {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    
  }

  .doctor-profile .appointment .table {
    font-size: 10px;
  }

   






  






}